.menu-label-text{
    color:white;
}
.tab-panel-menu{
    color:white;
    font-size:10px;
    margin-top:-25%;
}
.title-container{
    font-size: 17px;
    margin-top:5px;
}
.title-news{
    font-size: 17px;
    margin-left:10px;
    color:blue;
}
.detail-time-info{
    font-size: 12px;
    margin-left:10px;
    color:red;
}
.news-content{
    font-size: 12px;
    margin-left:10px;
    color:black;
    margin-bottom:5px;
}
.news-short-desc{
    font-size: 12px;
    margin-left:10px;
    color:black;
    margin-bottom:5px;
}
.notif-icon-list{
    font-size:9px;
    color:red;
    margin:2px;
}
.notif-title{
    font-size:15px;
    color:gray;
    margin:2px;
}
.notif-time{
    font-size:12px;
    margin:2px;
}
.unread-title{
    color:black;
    font-weight:400;
}
.list-item-dev { 
    display: flex; 
}

.list-item-name {
    font-weight: bold;
}

.list-item-details {
    margin-left: 0.5em;    
}

.list-item-skill-tag {
    list-style: none; 
    margin-left: 0.5em; 
}


.dev-card-skill-tag {
    margin-left: 1.5em;
    display: list-item;
}
.news-banner-title{
    color:white;
    font-size:17px;
    z-index:9999;
    font-weight:500px;
}
.news-banner-time{
    margin-top:10px;
    color:white;
    font-size:12px;
}